body {
    background-color: #33313B;
    color: #E0FFFF;
    font-family: sans-serif;
  }
  
  a {
    color: #00B3B3;
  }

header {
  text-align: center;
}

.header {
  width: 1000px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-left: 12px solid rgb(0, 127, 255);
  line-height: 70px;
  background-color: /*rgb(148, 223, 255, 45%)*/ rgb(212, 212, 212, 40%);
  text-align: left;
  border-radius: 15px;
}

  .header > p {
    margin: 0;
    margin-left: 20px;
    font-size: 38px;
    font-weight: bold;
  }

#team {
  width: 1200px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

  #team > .team-element {
    display: inline-block;
    width: 350px;
    height: 350px;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

    #team > .team-element > img {
      border-radius: 30px 0px;
      box-shadow: 8px 8px 2px rgb(0, 127, 255, 80%);
    }

    #team > .team-element > h2 {
      padding-top: 10px;
      font-weight: normal;
    }

    #team > .team-element:nth-child(1) {
      border-right: 3px solid white;
    }

    #team > .team-element:nth-child(3){
      border-left: 3px solid white;
    }