body {
    background-color: #33313B;
    color: #E0FFFF;
    margin: 0;
    font-family: sans-serif;
  }

header {
  text-align: center;
}
  
  a {
    color: #00B3B3;
  }

body > header > h1 {
  font-size: 35px;
}

nav {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 30px;
  position: sticky;
  top: 0;
  background-color: rgb(0, 127, 255);
}

  nav > ul {
    margin-top: 0;
    margin-left: -40px;
  }

  nav > ul > a > li {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    border-right: solid 2px black;
    color: #E0FFFF;
    font-size: 20px;
    margin-left: -5px;
  }

  nav > ul > a:first-child > li {
    border-left: solid 2px black;
    margin-left: 0;
  }

    nav > ul > a > li:hover {
      background-color: #4D4C7D;
      color: #F99417;
      transition: ease-in-out 0.5s;
    }

.header {
  width: 1000px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-left: 12px solid rgb(0, 127, 255);
  line-height: 70px;
  background-color: /*rgb(148, 223, 255, 45%)*/ rgb(212, 212, 212, 40%);
  text-align: left;
  border-radius: 15px;
}

  .header > p {
    margin: 0;
    margin-left: 20px;
    font-size: 38px;
    font-weight: bold;
  }

#team {
  width: 1200px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

  #team > .team-element {
    display: inline-block;
    width: 350px;
    height: 350px;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

    #team > .team-element > img {
      border-radius: 30px 0px;
      box-shadow: 8px 8px 2px rgb(0, 127, 255, 80%);
    }

    #team > .team-element > h2 {
      padding-top: 10px;
      font-weight: normal;
    }

    #team > .team-element:nth-child(1) {
      border-right: 3px solid white;
    }

    #team > .team-element:nth-child(3){
      border-left: 3px solid white;
    }